*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url(background/galaxia.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#corpo-principal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  color: rgba(1, 236, 246, 0.9);
  -webkit-text-stroke-color: rgba(218, 29, 129);
  -webkit-text-stroke-width: 1px;
  margin-top: 20px;
  font-size: x-large;
}