{% load static %}
<html>
    <head>

        <title>Meu app</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.patos.css'%}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>

    </head>

    <body class="d-flex justify-content-center">

        <section class="d-flex justify-content-center align-items-center flex-column">
            <div id="corpo-principal">
                <header class="header-text">
                    <h1>Detecção de Patos</h1>
                </header>

                <div id="corpo">
                    
                    <div class="header-line">
                        <div class="opcao">
                            <label for="movimento">Principal Comportamento dos Indivíduos:</label>
                            <select name="movimento">
                                <option value="Quackando">Grasnam, apenas</option>
                                <option value="Nadando">Nadam Ordenadamente</option>
                                <option value="Observando">Observam-no Fixamente</option>
                                <option value="Tecnologia">Manuseam Tecnologia Humana</option>
                            </select>
                        </div>
                    </div>

                    <div class="linha-divisao">
                        <div class="monitor" style="justify-content: space-between;">
                            <div class="tela">
                                <div class="opcao">
                                    <label for="pele_esverdeada">A "pele" do 'Pato' se encontra mais esverdeada que o comum?</label>
                                    <select name="pele_esverdeada">
                                        <option value="0">Não</option>
                                        <option value="1">Sim</option>
                                    </select>
                                </div>
                                <div class="opcao">
                                    <label for="bico_pequeno">O bico do 'Pato' se encontra menor que o comum?</label>
                                    <select name="bico_pequeno">
                                        <option value="0">Não</option>
                                        <option value="1">Sim</option>
                                    </select>
                                </div>
                                <div class="opcao">
                                    <label for="sotaque_esquisito">O 'Pato' em questão apresenta um sotaque diferenciado?</label>
                                    <select name="sotaque_esquisito">
                                        <option value="0">Não</option>
                                        <option value="1">Sim</option>
                                    </select>
                                </div>
                            </div> 

                            <div class="tela">
                                <div class="opcao" style="justify-content: left;">
                                    <label for="local">Local de Encontro dos 'Patos'</label>
                                    <select name="local">
                                        <option value="Lago">Lago</option>
                                        <option value="Mar">Mar</option>
                                        <option value="Floresta">Floresta</option>
                                        <option value="Parque">Parque</option>
                                        <option value="Cidade">Cidade</option>
                                    </select>
                                </div>

                                <div class="opcao" style="justify-content: left;">
                                    <label for="quantidade">Tamanho do Bando dos 'Patos'</label>
                                    <select name="quantidade">
                                        <option value="Sozinho">Indivíduo Único</option>
                                        <option value="Em dupla">Dupla de Indivíduos</option>
                                        <option value="Em bando pequeno">Pequeno Bando</option>
                                        <option value="Bando grande">Grande Bando</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="botao-submit">
                        <button onclick="exibirPato()">Analisar</button>
                    </div>

                    <div class="linha-divisao">
                        <div class="monitor" style="justify-content: center; flex-direction: column; height: 90%;">
                            <h2>Resultados da Análise</h2>
                            <div class="exibir-pato">
                                <div id="exibir-pato">
                                    Aguardando Envio de Dados para Análise...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src=" {% static 'script/script.pato.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>